<div id="app" class="container">
    <div v-for="section in sections" :key="section.id" class="my-5 py-5">
      <!-- Section Title -->
      <div class="row mb-4">
        <div class="col">
          <p class="h3 fw-bold d-inline-block">&#9654; {{ section.title1 }} &nbsp;&nbsp;&nbsp;</p>
          <div class="d-inline-block align-middle">
            <p class="fs-4">&lt;{{ section.title2 }}&gt;</p>
          </div>
        </div>
      </div>
  
      <!-- Carousel -->
      <div :id="section.id" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div
            v-for="(group, groupIndex) in groupVideos(section.videos, 4)"
            :key="`${section.id}-group-${groupIndex}`"
            :class="['carousel-item', { active: groupIndex === 0 }]"
          >
            <div class="row">
              <div
                v-for="(video, videoIndex) in group"
                :key="`${section.id}-video-${videoIndex}`"
                class="col-6 col-sm-3 c-item"
                @click="openVideoModal(video)"
                data-bs-toggle="modal"
                data-bs-target="#videoModal"
              >
                <img class="img-fluid rounded" :src="video.video_src" alt="">
                <p class="fs-6 my-3 fw-bold">{{ video.video_title }}</p>
                <p class="fs-6 my-0">
                  雨水積磚 rainsave tube <i class="bi bi-check-circle-fill text-success"></i>
                </p>
                <p class="fs-6 my-0">觀看次數：1020次</p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Carousel Controls -->
        <button
          class="carousel-control-prev"
          type="button"
          :data-bs-target="'#' + section.id"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          :data-bs-target="'#' + section.id"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  
    <!-- Modal -->
    <div
      class="modal fade"
      id="videoModal"
      tabindex="-1"
      aria-labelledby="videoModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="videoModalLabel">{{ modalVideo.video_title }}</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center">
            <iframe
              v-if="modalVideo.video_url"
              :src="modalVideo.video_url"
              class="w-100"
              style="height: 400px;"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <p v-else class="text-muted">No video available</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  