<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE 儲集框架_實績案例_龜山區市地重劃</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-cases/case03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE 儲集框架_實績案例_龜山區市地重劃" />
  <meta property="og:image" content="https://rainsave.com.tw/images/case03/case03_1.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="/style/style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 實績案例_滲透型</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">龜山區市地重劃</h1>
            <div class="row">
              <div class="col-sm-6">
                <img class="casepics my-2" src="/images/case03/case03_1.jpg" alt=""/>
                <img class="casepics my-2" src="/images/case03/case03_2.jpg" alt=""/>
              </div>
              <div class="col-sm-6">
                <p class="text">
                  <b>桃園雨水積磚：</b>
                  <br>此案位於桃園市龜山區，係為公共工程案。總計施作86m³，上方覆土約40~60cm，為基地保水滲透型。
                  <br>
                  <br>
                  <br>
                  <br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">施作實景</h4>
              </div>
              <div class="col-sm-4 mt-2"><img class="casepics" src="/images/case03/case03_3.jpg" alt=""/></div>
              <div class="col-sm-4 mt-2"><img class="casepics" src="/images/case03/case03_4.jpg" alt=""/></div>
              <div class="col-sm-4 mt-2"><img class="casepics" src="/images/case03/case03_5.jpg" alt=""/></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-3">
        <h5 class="left_title">更多案例</h5>
        <ul class="morecases">
          <template v-for="(item, index) in casetitles">
            <li v-if="index === 2" class="casestudy active no_br"> <a class="active" v-bind:href="item.case_href">{{ item.title }}</a></li>
            <li v-else class="casestudy"> <a v-bind:href="item.case_href">{{ item.title }}</a></li>
          </template>
        </ul>
      </div>
    </div>
    <div class="row space_blank"></div>
    <div class="row space_blank"></div>
  </div>
<footer id="company_info1">
  <div class="container">
    <div class="row company_footinfo">
      <div class="col-sm-4 mt-2"> 
        <h6 class="company_intro_bold">正在旺企業有限公司</h6>
        <p class="company_intro_small">地址：{{ address }}</p>
      </div>
      <div class="col-sm-4 mt-2"> 
        <h6 class="company_intro_bold">聯絡我們</h6>
        <p class="company_intro_small">電話：{{ tel_number }}</p>
        <p class="company_intro_small">傳真：{{ fax_number }}</p>
        <p class="company_intro_small">E-mail：{{ email }}</p>
      </div>
      <div class="col-sm-4 mt-2">
        <div class="col-sm-12 d-flex align-items-start">
          <h6 class="company_intro_bold">我們的社群</h6><a class="company_intro_small" href="https://www.facebook.com/rainmaster.tw" target="_blank"> <i class="bi bi-facebook"></i></a>
        </div>
        <div class="col-sm-12 d-flex align-items-start">
          <h6 class="company_intro_bold">我們的頻道</h6><a class="company_intro_small" href="https://www.youtube.com/channel/UCfrM6xyJ74HVgmu4kqDTdWQ/featured" target="_blank"> <i class="bi bi-youtube"></i></a>
        </div>
        <div class="col-sm-12 d-flex align-items-center flex-wrap">
          <div class="lab_logo"> 
            <img src="/images/footer_labicon/UL.png" alt="" class="lablogo">
          </div>
          <div class="lab_logo"> 
            <img src="/images/footer_labicon/TAF.png" alt="" class="lablogo">
          </div>
          <div class="lab_logo"> 
            <img src="/images/footer_labicon/ZT.jpg" alt="" class="lablogo">
          </div>
          <div class="lab_logo"> 
            <img src="/images/footer_labicon/TTT.png" alt="" class="lablogo">
          </div>
          <div class="lab_logo"> 
            <img src="/images/footer_labicon/SGS.jpg" alt="" class="lablogo">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer id="company_deco">
  <div class="container">
    <div class="row">
      <div class="col-md-4 companydeco">
        <img src="/images/company_name+logo.png" alt="正在旺企業有限公司"/>
        <h6 class="copyright">© 2022 正在旺企業-{{ message }}. All Rights Reserved.</h6>
      </div>
    </div>
  </div>
</footer>
<footer id="company_info">
  <div class="container">
    <div class="row infoboxes">
      <div class="col-sm-12">
        <a class="info2" href="/pages/page01.html">產品特點與安裝</a>
        <a class="info2" href="/pages/page02-1.html">產品大樣</a>
        <a class="info2" href="/pages/page03.html">資源下載</a>
        <a class="info2" href="/pages/page05.html">需求計算</a>
        <a class="info2" href="#rainsave_page08">實績案例</a>
      </div>
    </div>
  </div>
</footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
